@import "tailwindcss";

@theme {
  --color-disaster-red: #ef4444;
  --color-safe-green: #22c55e;
  --color-warning-yellow: #eab308;
}

body {
  background-color: #0f172a;
  /* Slate-900 */
  color: white;
}

.glass-panel {
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(148, 163, 184, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.marker-icon {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}